<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cullycross.clock">

  <uses-feature
      android:name="android.software.live_wallpaper"
      android:required="true">
  </uses-feature>

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <service
        android:name=".ColorClockWallpaperService"
        android:enabled="true"
        android:exported="true"
        android:label="Valtone Color Clock"
        android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService">
        </action>
      </intent-filter>

      <meta-data
          android:name="android.service.wallpaper"
          android:resource="@xml/color_clock_wallpaper_info">
      </meta-data>
    </service>

    <activity
        android:name=".ClockActivity"
        android:label="@string/title_activity_clock">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- This service is only used on devices with API v17+ -->
    <activity
        android:name=".ColorClockDayDreamSettingsActivity"
        android:exported="true"
        android:theme="@android:style/Theme.Light.WallpaperSettings"
        />

    <service
        android:name=".ColorClockDayDream"
        android:exported="true"
        android:permission="android.permission.BIND_DREAM_SERVICE">
      <intent-filter>
        <action android:name="android.service.dreams.DreamService"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>

      <meta-data
          android:name="android.service.dream"
          android:resource="@xml/color_clock_day_dream_info"/>
    </service>
  </application>

</manifest>